<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO SHIPMENT TYPE REGISTER PAGE!</h3>
			</div>
		</div>

		<div class="card-body">
			<form th:action="@{/st/save}" method="POST">

				<div class="row">
					<div class="col-3">
						<label>Shipment Mode</label>
					</div>
					<div class="col-4">
						<select name="shipmentMode" class="form-control">
							<option value="">---SELECT---</option>
							<option value="Air">Air</option>
							<option value="Truck">Truck</option>
							<option value="Ship">Ship</option>
							<option value="Train">Train</option>
						</select>

					</div>
					<div class="col-5">
						<span id=""></span>
					</div>
				</div>




				<div class="row">
					<div class="col-3">
						<label>Shipment Code</label>
					</div>
					<div class="col-4">
						<input type="text" name="shipmentCode" class="form-control" />
					</div>
					<div class="col-5">
						<span id=""></span>
					</div>
				</div>



				<div class="row">
					<div class="col-3">
						<label>EnableShipment </label>
					</div>
					<div class="col-4">
						<input type="radio" name="enableShipment" value=" Yes" />Yes <input
							type="radio" name="enableShipment" value=" No" />No
					</div>
					<div class="col-5">
						<span id=""></span>
					</div>
				</div>


				<div class="row">
					<div class="col-3">
						<label>Shipment Grade</label>
					</div>
					<div class="col-4">
						<input type="radio" name="shipmentGrade" value="A" />A <input
							type="radio" name="shipmentGrade" value="B" />B <input
							type="radio" name="shipmentGrade" value="C" />C

					</div>
					<div class="col-5">
						<span id=""></span>
					</div>
				</div>


				<div class="row">
					<div class="col-3">
						<label>Description</label>
					</div>
					<div class="col-4">
						<textarea name="shipmentDescription" class="form-control"></textarea>
					</div>
					<div class="col-5">
						<span id=""></span>
					</div>
				</div>




				<input type="submit" value="Add Shipment Type"
					class="btn btn-success" />

			</form>

		</div>
		<!--Card Body End -->

		<div class="card-footer alert alert-success" th:if="${message!=null}">
			<span th:text="${message}"></span>
		</div>

	</div>



</body>
</html>